{% extends 'main/base.html' %}

{% block content %}
<div class="{% if not country_code %}d-flex align-items-center h-100 main-background{% endif %}">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>Weather forecast</h1>
                <h2>Current weather forecast for the city you are looking for</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 d-flex justify-content-center">
                <div class="search-bar d-flex align-items-center">
                    <form method="POST" class="d-flex align-items-center">
                        {% csrf_token %}
                        <input class="search-input" id="input-city" type="text" name="city"
                            placeholder="Search for a city..." title="Type city name">
                        <button type="submit" id="button-search" class="btn search-button"><i
                                class="fas fa-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
        {% if error_occurred %}
        <div class="row">
            <div class="col-sm-12 d-flex justify-content-center">
                <div class="alert alert-light alert-dismissible fade show text-dark" role="alert">
                    {{error_message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
        {% endif %}
        {% if country_code %}
        <div class="row {% if country_code %}half-background{% endif %}">
            <div class="col-sm-12 col-lg-4 card text-center offset-lg-1 mx-2 mx-md-auto">
                <div class="card-header">
                    Weather
                </div>
                <div class="weather-container card-body">
                    <img src="http://openweathermap.org/img/wn/{{icon}}@2x.png" alt="Weather image">
                    <span><i class="material-icons align-text-top card-text">location_on</i>City: {{country_name}}
                        ({{country_code}})</span>
                    <span><i class="material-icons align-text-top">thermostat</i>Temperature: {{temperature}}</span>
                    <span><i class="material-icons align-text-top">speed</i>Pressure: {{pressure}}</span>
                    <span><i class="material-icons align-text-top">water_drop</i>Humidity: {{humidity}}</span>
                    <span><i class="material-icons align-text-top">info</i>Information: {{main_information}}
                        ({{description}})</span>
                    <span><i class="material-icons align-text-top">schedule</i>Current time: {{current_time}}</span>
                    <span><i class="material-icons align-text-top">wb_sunny</i>Sunrise: {{sunrise}}</span>
                    <span><i class="material-icons align-text-top">nightlight_round</i>Sunset: {{sunset}}</span>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4 card text-center offset-lg-2 mx-2 mx-md-auto">
                <div class="card-header">
                    City location
                </div>
                <div class="map card-body">
                    {{map|safe}}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
